html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
}

.earth-header {
    width: 100%;
}

.earth {
    background-image: url('../images/space_earth.png');
    width: 1063px;
    height: 235px;
    margin: auto;
}

.timeline {
    width: 70%;
    margin: auto;
    text-align: center;
}

    .timeline h3 {
        font-style: italic;
    }
