<p>Krastowie nie przypominają Atrydów, Kys pod ich rządami to nie Arrakis. Ale jedno łączy te rodziny: są zbyt dobrzy na ten Wszechświat, a wrogów mają równie paskudnych.</p>

<p>Powiedzmy to sobie wprost: Krastowie w połowie XXII wieku zaczynają od pracy w orbitalnych dokach wokół Ziemi oraz marzeń, żeby zostać majstrem, mieć ubezpieczenie, odłożyć trochę pieniędzy, a czasem zejść na dół, w grawitacyjną studnię Ziemi. Z kolei w „Podarować niebo”, dziejącym się gdzieś w ostatnich wiekach tysiąclecia, są już potężną kompanią, choć wciąż zarządzaną przez rodzinę. Nie da się więc ukryć, że część ich snów się spełniła. Dlatego teksty w tym cyklu (niemal zawsze z Krastami, choć nie zawsze w roli głównej) obok kwestii, czy się coś wydarzyło, bardzo mocno będą skupiać się na odpowiedzi, DLACZEGO oraz JAK. Zresztą, również w cudzych utworach to wydaje mi się najciekawsze.</p>

<p>Przyznałem się w poprzednim wpisie, że lubię Historie Przyszłości. A najbardziej doceniam takie, w których graczy na scenie jest zbyt wielu, aby bohaterowie mogli wszystko przewidzieć, uporządkować, rozegrać po swojemu. Pod tym względem bardzo podoba mi się cykl „Przestrzeń objawienia” Reynoldsa, a także saga hyperiońska Simmonsa, gdzie kolejne warstwy prawdy i poznawanie graczy naprawdę potrafią zaskoczyć.</p>

<p>Nic dziwnego zatem, że zaplanowałem kilka niespodzianek. Kiedy nadejdzie wielka wojna, Krastowie spróbują ją przeżyć. Kiedy ludzkość pod wpływem pewnych wydarzeń wcieli w życie dwa Protokoły (o których na razie nie mogę nic napisać, żeby nie spoilerować), postarają się, aby jak najmniej skomplikowały im życie. O lotach w kosmos bliżej i dalej to w ogóle nie ma co wspominać, tu – jeśli Wam cierpliwości wystarczy – będzie się dziać dużo i wiraży nie zabraknie.</p>

<p>Powiadają, że twoją wartość określają wrogowie. Cóż, Krastowie mają ich sporo. Tamci wyłaniają się jak Krastowie – z marzeń, z gniewu, z chęci zysku, typowych ludzkich pragnień i emocji. A kiedy Krastowie rosną w siłę, ich konkurenci – to znaczy ci, którzy przeżyją – także stają się coraz potężniejsi, rzecz jasna kosztem tych, którym w łańcuchu pokarmowym historii została wyznaczona rola jedzenia. Jak w życiu. Fortuny i wpływy Fuggerów dziś już nic nie znaczą (a przecież kiedyś byli „bankierami królów”), gasną Rockefellerowie, mamy za to ogromniejące majątki Gatesa, Bezosa czy Muska. Będą następni.</p>

<p>Krastowie będą się zmagać z Dao czy współpracować z Parkesami, zawsze w tle mając myśl, że przede wszystkim liczy się rodzina (choć nie wszyscy okażą się w porządku, nie zabraknie zdrajców i wariatów). Systemy społeczne czy polityczne upadają, więzy krwi są trudniejsze do przerwania.</p>

<p>Zresztą większość bohaterów tego uniwersum – wcale nie tylko Krastowie – skupia się na realizowaniu swoich pragnień, próbach wcielania w czyn idei, w które wierzą. Nadrzędna w tym cyklu będzie wizja przyświecająca Krastom, świadomość, że choć zaczynali od bycia okrętowymi czy portowymi szczurami, od najniższych, najgorzej opłacanych posad, to jeśli wykorzystają wszystkie dostępne szanse i stworzą kilka nowych, krok po kroku wejdą jeśli nie na metaforyczny Everest, to przynajmniej na Mt Blanc. Bo oni nauczyli się patrzeć dalej. To dziedzictwo tej rodziny, pchające ich naprzód, choć zapewniające również mnóstwo kiksów i wypadnięć na pobocze. Spoiwo serii. A czasem obsesja pchająca do zła.</p>

<p>Jednakże ich oponenci mają swoje idee, swoje prawdy, swoje motywacje – i czy gorsze? Nie, często po prostu lepiej odpowiadające ich potrzebom.</p>

<p>Wszechświat Domu Krastów nie produkuje zatem herosów, raczej ludzi skomplikowanych, często dwuznacznych moralnie, jak to w życiu bywa. Te opowieści skupią się bardziej na ludziach niż światach, bardziej na emocjach niż na epickich starciach zjadających pół Galaktyki jednym kęsem.</p>

<p>Galeria Krastów i ich rywali wydaje mi się jednak dosyć ciekawa i różnorodna – atrakcji i tak nie powinno zabraknąć. Jak to w rodzinie: pełne spektrum, a sięgając w przeszłość, znajdziemy niejeden wart opisania przypadek, prawda?</p>

@code {
    public static string Title => "Dom Krastów, czyli rodzina ponad wszystko";
}
