<p>Jedną z rzeczy, które lubię w fantastyce (również w powieściach historycznych), jest szeroka kreacja świata przedstawionego, pokazanie jego rozwoju, czasem rozpisanego na wieki. Kiedyś nazwano to Historią Przyszłości – i pomysły takie realizowało wielu autorów. Czasem były to w miarę spójne fabuły – jak u Asimova w "Fundacji", gdzie realizowany jest plan rozciągnięty na tysiąclecia, czy Benforda z jego cyklem "Centrum Galaktyki". Także bliżsi współczesności pisarze mają na koncie takie historie – jak Simmons w cyklu hyperiońskim, Reynolds w "Przestrzeni objawienia" czy Hamilton w swoim sztandarowym cyklu. Nie oszczędzają słów, kreśląc szerokie opisy wyimaginowanej przyszłości.</p>

<p>Inną strategią jest pisanie tekstów w jednym uniwersum – jak u mojej ukochanej Ursuli Le Guin, która w dziesiątkach powieści i opowiadań pokazała rozwój świata ludzkiej obecności, zaczynając od Ligi Światów, a potem rozszerzając jego historię w Ekumenie. Ten typ pisania wymaga od czytelnika większej uwagi, informacje o rozwoju i historii uniwersum podawane są dosyć oszczędnie, choć jeśli się chce, można złożyć z nich w miarę spójny obraz. Nie on jest jednak sednem. Jeśli ktoś nie ma ochoty, skupia się na pojedynczej opowieści.</p>

<p>Ta ostatnia wizja jest mi najbliższa. Różne miejsca, światy, ludzie – a historia sobie płynie, wszystko jest w jakiś sposób powiązane.</p>

<p>Od dawna zastanawiałem się, czy umiałbym coś takiego napisać. Problem w tym, że na takie uniwersum trzeba mieć nie jeden dobry pomysł, a przynajmniej kilka. Kilkanaście? Kilkadziesiąt? W każdym razie – mnóstwo.</p>

<p>Dlatego "Podarować niebo" nie miała otwierać cyklu, lecz być pojedynczą powieścią. Dopiero kończąc prace nad tekstem zorientowałem się, że co prawda opisuję rozbitków, których katastrofa wyrzuciła daleko poza zasięg ludzkiej bańki, gdzieś na obrzeża Galaktyki, jednak wyskoczyli oni z całkiem rozwiniętego świata. Przybywało mi notatek o uniwersum, których w tamtej powieści nie dało się wykorzystać. Czułem, że przez niewielką szybę zaglądam do wnętrza całkiem dużego domu.</p>

<p>Zastanawiałem się, co mogłoby być spoiwem u mnie, gdybym zdecydował się rozszerzyć to uniwersum. Zdecydowanie nie miałem ochoty kontynuować "Podarować niebo" – z wielu względów jest to singiel i takim pozostanie.</p>

<p>Lecz w powieści jako bohater siódmego planu występuje rodzina Krastów, potężna, nowoczesna, drapieżna, rządząca kilkoma planetami. A zarazem niektórzy członkowie tej rodziny wcale nie są postaciami zadowolonymi z życia. W gronie rozbitków jest taka postać, Jarmila Krast, młoda dziewczyna, która...</p>

<p>Nie, nie zamierzam tu streszczać jej losów. Natomiast pomyślałem sobie, że to właśnie przez dzieje tej rodziny można pokazać świat i jego historię. Krastowie zaczynają jako pośledni robotnicy w dokach na orbicie Ziemi, lecz marzeniami i decyzjami sięgają daleko, tak daleko, jak tylko zdołają skoczyć. To oni będą bohaterami niemal wszystkich opowieści w tym cyklu.</p>

<p>Właśnie dlatego pozwoliłem sobie nazwać go "Domem Krastów". Może średnio literacko, za to w pełnej wierności ze stojącą za tym cyklem ideą. Dom Krastów jest tam, gdzie oni, będzie wędrować po Układzie Słonecznym i Galaktyce. Jest fizyczną siedzibą, lecz także metaforą, myślą, że imperium do zdobycia sięga horyzontu, trzeba tylko spróbować zajrzeć za niego – nawet jeśli wydaje się to trudne, wymaga czasu i poświęceń.</p>

@code {
    public static string Title => "Historia wszystkiego albo skąd ten szalony pomysł";
}
