<p>Jako się rzekło, próba rzeźbienia uniwersum to karkołomny wyczyn (jeden ze znajomych powiadał „karkołamny” – i w zasadzie gotów jestem się zgodzić :D).</p>

<p>Nie wiem, czy znacie nieco już przebrzmiałą powieść Silverberga, „Człowiek w labiryncie”. W skrócie, jest to historia człowieka, któremu Obcy zrobili krzywdę, czyniąc go emiterem wszystkich emocji, zarówno pozytywnych, jak i negatywnych, jakie odczuwa. Nie da się tak funkcjonować w społeczeństwie ludzi, więc po paru fatalnych doświadczeniach chroni się w labiryncie wybudowanym dawno temu przez innych Obcych, pełnym pułapek wszelkiego typu. Dla mojego pokolenia jest to jedna z kultowych powieści. Nadal zresztą wydaje mi się dobra mimo nieco już archaicznego stylu.</p>

<p>No i właśnie: pisząc swój cykl czuję się jak ów bohater. Pułapki, wszędzie pułapki! Ogień! Ostrza jak w „Cube”! „Prądem bohatera!?”. O niektórych z tych pułapek wspomniałem we wcześniejszych wpisach, ale jedna jest szczególnie straszna: kiedy masz, autorze, kilka ciekawych tekstów wymyślonych – i który pisać, którą ścieżką pójść? A jeśli wpadniesz do jamy z ogniem? Albo zgilotynuje cię niewyczuwalny nóż?</p>

<p>Przed takim wyborem właśnie stoję. Próbując sobie uporządkować uniwersum Domu Krastów, opisać je jakoś w czasie i przestrzeni, wpadłem na parę niezłych pomysłów na opowiadania i kilka na powieści. A teraz stoję na rozdrożu – na moim pulpicie dominują pliki dwóch powieści i zupełnie nie wiem, którą drogę wybrać. Bo obie mnie wołają, domagają się czasu, ale przecież nie można pisać dwóch powieści naraz, prawda?</p>

<p>Pierwsza, roboczo nazwana „Wyborem Mony”, opowiada o pewnej silnej kobiecie, Monie Krast, której nic nie jest w stanie złamać, choć naprawdę nie jest typem heroiny z laserem w ręku. Jej siłą jest rozum, planowanie, wizja, dokąd mają podążać Krastowie, aby spełnić choć część marzeń, którymi żyją od ponad dwóch wieków. Czy jej syn pójdzie śladem matki? Wreszcie, jak do tych wizji odniesie się kolejna silna kobieta w rodzinie, Ofelia? Mam w głowie obrazy tych dam i Jamesa – wiem, co ich napędza do działania, co blokuje i budzi lęk. Jestem ciekaw, co mi powiedzą, gdy usiądę do tej powieści.</p>

<p>Druga kusi powrotem do świata, który już istnieje i rozwinięciem go. Planeta Hamilton – zapamiętajcie tę nazwę. W zbiorze opowiadań „Pusty ogród” jest kilka tekstów, w których albo akcja dzieje się na Hamiltonie, albo jest on wspominany. Trafia tam grupa uciekinierów z Ziemi. Powieść dzieje się jakiś czas po wydarzeniach z tych opowiadań. Ponowna wizyta kusi jak diabli, bo kiedy już przeczytacie opowiadania i wyrobicie sobie jakiś tam stosunek do uciekinierów, zamierzam powiedzieć o nich kilka słów więcej. I włączyć do gry dodatkowych zawodników, bo czyż nie pisałem wcześniej, że lubię, gdy przy stole jest tłoczno?</p>

<p>Fragmenty i notatki mam do obu powieści. Ale na razie nie wiem, którą pisać pierwszą, zastanawiam się. Waham się jak ten bohater z „Człowieka w labiryncie” – pułapki przede mną, a trzeba wybrać właściwą drogę.</p>

<p>Czyli którą?</p>

@code {
    public static string Title => "Ba, ale którą następną, czyli jak w labiryncie Silverberga";
}
