html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    background-color: black;
    color: lightyellow;
}

.earth-header {
    width: 100%;
}

.earth {
    background-image: url('../images/space_earth.png');
    width: 1063px;
    height: 235px;
    margin: auto;
}

.timeline {
    width: 70%;
    margin: auto;
    text-align: center;
}

    .timeline h3 {
        font-style: italic;
    }

.side-panel {
    display: block;
    border: 3px solid lightgreen;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
}