@page "/"
@inherits IndexBase

@if (KrastTimeline != null)
{
<div class="timeline">
    <h1>Dom Krastów</h1>
    <p>zaczynał skromnie jak każda rodzina</p>

    @for (int year = StartYear; year <= EndYear; year += 10)
    {
        <h3>@year</h3>
    }
</div>
}