@inherits LayoutComponentBase

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="side-panel">
                    <Books />
                </div>
            </div>
            <div class="col-8">
                <div class="earth-header">
                    <div class="earth"></div>
                </div>
                <div>
                    @Body
                </div>
            </div>
            <div class="col-2">
                <div class="side-panel">
                    <Author />
                </div>
            </div>
        </div>
    </div>

