<img src="images/romek.png" />

<div class="link-list">
    <a href="/Article/Geneza">Historia pomysłu</a>
    <a href="/Article/Rodzina">Rodzina</a>
    <a href="/Article/Spojnosc">Spójność</a>
    <a href="/Article/Kolejnosc">Kolejność</a>
</div>