@inherits BooksBase

@if (NotPublishedBooks != null && NotPublishedBooks.Any())
{
    <center>
        <h5>Wkrótce!</h5>
    </center>
    foreach (var book in NotPublishedBooks)
    {
        <BookCoverLink Book="book" />
    }
}

@if (PublishedBooks != null)
{
    <center>
        <h5>Już dostępne!</h5>
    </center>
    @foreach (var book in PublishedBooks)
    {
        <BookCoverLink Book="book" />
    }
}
