@page "/"
@inherits IndexBase

@if (KrastTimeline != null)
{
<div class="timeline">
    <h1>Dom Krastów</h1>
    <p>zaczynał skromnie jak każda rodzina</p>

    @for (int year = StartYear; year <= EndYear; year += YearJump)
    {
        var events = GetEvents(year);

@if (events.Any())
{
    foreach (var item in events)
    {
<h3>@item.Key</h3>

@foreach (var timelineEvent in @item)
{
    <p>@timelineEvent.Title</p>
    <p>@timelineEvent.PublishedInFormatted</p>
    <h4>---</h4>
}
    }
}
else if (year % 100 == 0)
{
    // TODO: Convert date to age in Roman calendar
<h3>@year</h3>
    SetReset(true);
}
else
{
    if (Reset)
    {
    <h4>---</h4>
    }
    SetReset(false);
}
    }
</div>
}